td {
    line-height: 50px;
}
tr {
    text-align: center;
}

.form-group label {
    color: var(--green);
    font-weight: 600;
}

#MatKhau {
    width: 50%;
}

.password {
    position: relative;
}

#eye {
    position: absolute;
    right: 50%;
    top: 0;
    line-height: 38px;
    padding: 0 11px;
    cursor: pointer;
}

.sp-thongbao {
    display: none;
    color: rgb(255, 57, 57);
}